*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    
}
.top-right{
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    width: 72vw;
    background: #fafafa;
    margin-left: 20vw;
    padding: 55px;
    align-items: center;
    margin-bottom: 1rem;
}

.heading{
    margin-bottom: .5rem;
}
.heading h2{
    font-size: 2.3rem;
    
}
.mid p{
    color:  #4f4f4f;
    font-size: 20px;

}
.mid{
    margin-bottom: .5rem;
}
.end input{
    font-size: 1rem;
padding: 8px;
border-radius: 4px;
border: 2px solid #c2c2c2;
width: 21rem;
}
.end button{
    padding: 8px 1rem;
    font-size: 1rem;
    border-radius: 10px;
    border: 0px;
    background-color: #2bdb2b;
}
.end button a{
    text-decoration: none;
    color: black;
}
.nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20vw;
    background: #5FCB71;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.nav h1{
    /* color: white; */
    padding-top: 1.5rem;
    font-size: 30px;
    font-weight: bold
}
.nav h1 a{
    text-decoration: none;
    color: blanchedalmond;
    font-style: oblique;
}
.profile{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile img{
    max-width: 160px;
    margin-bottom: 12px;
}
.bio{
    text-align: center;
    margin-top: 23px;
    color: black;
    line-height: 1.5;
    margin-bottom: 23px;
}
.bio a{
    color: black;
    
}
.icons li{
    width: 30px;
    height: 30px;
    padding-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    background-color: #fff;
    display: inline-block;
    margin-right: .5rem;
}
.icons{
    padding: 1rem 0;
    text-decoration: none;
}
.profile hr{
    border: 1px solid;
color: #00000026;
width: 18vw;
}
.navend{
    margin: 1rem;
}
.navend li{
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    padding: 10px   ;
}
.navend li a{
    text-decoration: none;
    line-height: 1.5;
    font-size: 20px;
    color: rgb(41, 33, 33);
}
.blogs{
    /* background: rebeccapurple; */
    /* height: 70vh; */
    width: 80vw;
    margin-left: 20vw;
    
}
.main-container{
    max-width: 820px;
/* background: red; */
height: inherit;
display: flex;
/* justify-content: center; */
align-items: center;
margin: 0 auto;
flex-direction: column
}
.artimg img{
    max-width: 120px;
    margin: 0 1rem;
}
.artical{
    display: flex;
    line-height: 1.5;
    margin: 2rem 0;
}
.main_body h2 a{
    text-decoration: none;
    color: initial;
    line-height: 1.5;
}
.footer{
    height: 50px;
    width: 80vw;
    line-height: 1.5;
    font-weight: bold ;
    background-color: #223142;
    color: white;
    margin-top:inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
